repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: build-docs
        name: build docs
        entry: ./dev/bin/refresh-docs
        language: script
        pass_filenames: false
        always_run: true
        stages: [post-commit]
