[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "doogat-integrations"
version = "0.2.3"
description = ""
authors = [{ name = "Tomáš Bouška", email = "admin@doogat.com" }]
license = "GPL-3.0-or-later"
readme = "README.md"
requires-python = ">=3.12,<4.0"
dependencies = [
    "buvis-pybase>=0.3.0,<1.0.0",
    "doogat-core>=0.2.0,<1.0.0",
]

[dependency-groups]
dev = ["pre-commit>=4.5.1"]
test = ["pytest>=9.0.1"]
docs = ["sphinx>=8.2.3", "sphinx-rtd-theme>=3.0.2"]

[tool.uv]
default-groups = ["dev", "test"]

[tool.uv.sources]
buvis-pybase = { index = "test-pypi" }
doogat-core = { index = "test-pypi" }

[[tool.uv.index]]
name = "test-pypi"
url = "https://test.pypi.org/simple/"
explicit = true

[tool.hatch.build.targets.wheel]
packages = ["src/doogat"]

[tool.ruff.lint]
extend-select = ["B", "Q", "D"]
ignore = ["D211", "D213"]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["D104"]
"tests/*.py" = ["S101"]
"**/{tests,docs,tools}/*" = ["D"]
