---
name: Build & upload released PyPI package

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  attestations: write
  contents: read
  id-token: write

jobs:
  build-package:
    name: Build & verify package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: hynek/build-and-inspect-python-package@v2
        with:
          attest-build-provenance-github: "true"

  release-test-pypi:
    name: Publish released package to test.pypi.org
    environment: release-test-pypi
    runs-on: ubuntu-latest
    needs: build-package
    steps:
      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@v5
        with:
          name: Packages
          path: dist
      - name: Upload package to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  release-pypi:
    name: Publish released package to pypi.org
    environment: release-pypi
    runs-on: ubuntu-latest
    needs: build-package
    steps:
      - name: Download packages built by build-and-inspect-python-package
        uses: actions/download-artifact@v5
        with:
          name: Packages
          path: dist
      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
